body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

#home, #about, #services, #contact {
  background-color: #10b3c2;
  color: #fff;
  text-align: center;
  padding: 50px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 25px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-title {
  padding-left: 3%;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  padding: 0 25px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

nav ul {
  
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #e74c3c;
}

main {
  padding: 100px 20px 20px;
  text-align: center;
  margin-top: 80px;
}

section {
  margin-bottom: 30px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
}

h1, h2, h3 {
  color: #333;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.service:hover {
  transform: translateY(-10px);
}

.service img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.service h3 {
  color: #333;
  margin-bottom: 10px;
}

.service p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.home-background {
  background: url('images/e.webp') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.subscription-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  }
  
  .popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  }
  
  .close-popup {
  cursor: pointer;
  font-weight: bold;
  color: #3498db;
  margin-top: 20px;
  }
  
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .service {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .service {
    flex-basis: 100%;
  }
}
.floating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  font-size: 2em; 
  color: white;
  text-shadow: 2px 2px 4px #000000;
  animation: float 2s ease-in-out infinite;
  }